.jumbo-train  {
    background-color: rgb(5, 5, 48);
    color: aliceblue;
}

.train-header {
    background-color: rgb(5, 5, 48);
    color: aliceblue;
}

.train-cards {
    margin-bottom: 5px;
    
}